body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 44px;
}

nav a {
	margin: 0 10px;
	text-decoration: none;
	color: #1a0dab;
}

nav a:hover {
	text-decoration: underline;
}

nav div {
	display: flex;
	align-items: center;
}

nav div a {
	margin: 0 10px;
	text-decoration: none;
	color: #808080;
}

nav div a:first-child {
	background-color: #f2f2f2;
	padding: 6px 12px;
	border-radius: 2px;	
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto;
	max-width: 600px;
	text-align: center;
}

img {
	margin-bottom: 50px;
}

form {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
}

input[type="text"] {
	flex: 1;
	margin-right: 10px;
	height: 34px;
	padding: 0 10px;
	width: 400px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	box-shadow: none;
	font-size: 16px;
	text-align: center;
}

button[type="submit"], button[type="button"] {
	background-color: #f2f2f2;
	color: #808080;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	padding: 6px 12px;
	margin: 0 5px;
}

button[type="submit"]:hover, button[type="button"]:hover {
	background-color: #e6e6e6;
}

p {
	font-size: 14px;
	margin-top: 30px;
}

a {
	color: #70757a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
